body {
  background-color: #DBDDDA;
  font-family: "Roboto", sans-serif;
}

.titulo {
  margin-top: 1rem;
}

.comprar {
  margin-top: 1rem;
}

.venderTudo {
  margin-top: 1rem;
}

#titulosView {
  margin-top: 2rem;
}

#titulosView th {
  border: 1px solid black;
}

#titulosView td {
  border: 1px solid black;
}

.total {
  background-color: lightcoral;
}

.fadeOut {
	opacity: 0;
	transition: .5s;
}

.tipo-form {
  width: 100%;
}

.esconde-negociacao {
  display: none;
}

.simulacao {
  position: fixed;
  background: #EEE;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 15px;
}

.simulacao h1 {
  font-weight: bold;
  font-size: 20px;
  padding: 20px 0;
}

.simulacao input {
  margin: 15px 0;
}

.simulacao p {
  font-weight: bold;
}

.simulacao button {
  margin: 10px 0;
}